<app-navbar></app-navbar>

<main id="main" class="main">
    <div class="flex-shrink-0">
        <div class="container">
            <div class="content">
                <div class="role--title text-center mt-5">
                    <h1>List Role</h1>
                </div>

                <div class="roles__table d-flex row mt-3">
                    <div class="table-responsive col-md-12 col-sm-12 mx-auto">
                        <div class="roles__create__btn">
                            <button pButton class="p-button-raised py-1 btnCreate" type="submit" id="btnCreate"
                                icon="bx bx-plus toggle-sidebar-btn" (click)="clickCreate()"
                                title="Create New Role"></button>
                        </div>

                        <p-table #dt [value]="listRole" [rows]="5" [paginator]="true" [globalFilterFields]="['code', 'roleName']">
                            <ng-template pTemplate="caption">
                                <div class="p-d-flex p-ai-center p-jc-between">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text"
                                            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                            placeholder="Search..." />
                                    </span>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="text-center" scope="col">No.</th>
                                    <th class="text-center" scope="col">Role Code</th>
                                    <th class="text-center" scope="col">Role Name</th>
                                    <th class="text-center" scope="col">Is Active</th>
                                    <th class="text-center" scope="col">Actions</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" id="tcolumn" let-t let-i="rowIndex">
                                <tr>
                                    <td class="text-center">{{i+1}}.</td>
                                    <td class="text-center">{{t.code}}</td>
                                    <td class="text-center">{{t.roleName}}</td>
                                    <td class="text-center">
                                        <input class="cbox" type="checkbox" id="isActive" [checked]="t.isActive"
                                            disabled align="center">
                                    </td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <i class="bx bx-detail toggle-sidebar-btn" id="btnDetail"
                                                (click)="clickDetail(t.id)"></i>

                                            <i class="bx bxs-pencil toggle-sidebar-btn" id="btnUpdate" label="Update"
                                                (click)="clickUpdate(t.id)"></i>

                                            <i class="bx bx-trash toggle-sidebar-btn" id="btnDelete"
                                                (click)="clickDelete(t.id)"></i>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>IAM System</span></strong>. All Rights Reserved
    </div>
</footer><!-- End Footer -->