<app-navbar></app-navbar>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Insert Condition Asset</h1>
        {{dataInsert | json}}
    </div>

    <div class="card">
        <div class="card-body">
            <!-- Browser Default Validation -->
            <div class="row g-3 mt-3">
                <div class="col-md-6">
                    <label for="invoice-code" class="form-label">Invoice Code<code>*</code></label>
                    <input type="text" class="form-control" id="invoice-code" [value]="dataUpdate.code" [(ngModel)] = "dataInsert.code">
                </div>
                <div class="col-md-6">
                    <label for="purchase-date" class="form-label">Purchase Date <code>*</code></label>
                    <input type="date" class="form-control" id="purchase-date" [value]="dataUpdate.purchaseDate" [(ngModel)] = "dataInsert.purchaseDate">
                </div>
                <div class="col-md-12">
                    <label for="total-purchase" class="form-label">Total Purchase <code>*</code></label>
                    <input type="number" class="form-control" id="total-purchase" [value]="dataUpdate.totalPrice" [(ngModel)] = "dataInsert.totalPrice">
                </div>
                <div class="col-md-12">
                    <label for="bill" class="form-label">Bill <code>*</code></label>
                    <input type="file" class="form-control" id="bill" accept="image/*"
                    (change)= "onChange($event)">
                </div>
                <div class="p-fluid form__login--button pt-5">
                    <button pButton class="p-button-raised p-button-rounded" type="button" id="btnSubmit"
                        label="SUBMIT" (click) = "submit()"></button>
                </div>
            </div>
            <!-- End Browser Default Validation -->
        </div>
    </div>
</main>

<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>IAM System</span></strong>. All Rights Reserved
    </div>
</footer><!-- End Footer -->