h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.create__btn{
    display: flex;
    justify-content: flex-end;
}

#btnCreate {
    border-radius: 4px;
    background-color: #90CC6B;
    border: #90CC6B;
    color: #F7F7F7;
    width: 30px;
}

#btnDetail {
    cursor: pointer;
    color: #4b5e80;
}

#btnUpdate {
    cursor: pointer;
    margin-left: 10px;
    color: #51BBF6;
}

.asset-img{
    width: 50px;
}
