#btnSubmit{
    background-color: #96bdff;
    border: #96bdff;
}

#btnAdd{
    background-color: #4b5e80;
    border:  #4b5e80;
    color: #F7F7F7;
    font-size: 12px;
    padding: 6px;
    text-align: center;
    width: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn__add{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.checkbx{
    width: 25px;
    height: 25px;
}

#btnBack {
    padding: 5px 10px;
    border: #7897CC;;
    background-color: #7897CC;
    color: #f7f7f7;
}