<app-navbar></app-navbar>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Insert Permission</h1>
    </div>

    <div class="card">
        <div class="card-body">
            <!-- Browser Default Validation -->
            <div class="row g-3 mt-3">
                <div class="col-md-6">
                    <label for="permCode" class="form-label">Permission Code <code>*</code></label>
                    <input [disabled]="isDisabled" [value]="dataUpdate.code" [(ngModel)]="dataInsert.code"
                        type="text" class="form-control" id="permCode">
                </div>
                <div class="col-md-6">
                    <label for="permName" class="form-label">Permission Name <code>*</code></label>
                    <input [value]="dataUpdate.permissionName" [(ngModel)]="dataInsert.permissionName" type="text" class="form-control" id="permName">
                </div>
                <div class="form-check col-md-3" *ngIf= "isDisabled">
                    <input [(ngModel)]="dataInsert.isActive" class="form-check-input" type="checkbox" id="isActive">
                    <label class="form-check-label" for="isActive">Active <code>*</code></label>
                </div>

                <div class="p-fluid pt-2 btn__add">
                    <button pButton class="p-button-raised p-button-rounded" type="button" id="btnSubmit" label="SUBMIT"
                        (click)="clickSubmit()">
                    </button>
                </div>
            </div>
            <!-- End Browser Default Validation -->
        </div>
    </div>

    <div class="justify-content-start row mt-5">
        <div class="order__back__btn justify-content-start row mt-3">
            <div class="col-md-11">
                <button pButton class="p-button-raised p-button-rounded" type="submit" id="btnBack"
                    label="Back" icon="pi pi-angle-left" (click)="clickBack()"></button>
            </div>
        </div>
    </div>
</main>

<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>IAM System</span></strong>. All Rights Reserved
    </div>
</footer><!-- End Footer -->