<app-navbar></app-navbar>

<div id="main" class="main">
    <div>
        <div class="flex-shrink-0 py-2 my-2">
            <div class="container">
                <div class="content">
                    <div class="text-center mt-5">
                        <h1 class="h3 mb-3 fw-normal">Transaction Check Out History Detail</h1>
                    </div>

                    <div class="d-flex justify-content-start align-items-center mt-5">
                        <label class="pe-3 labelTrans">Transaction Check Out No. </label>
                        <span class="input-group-text pe-5" id="transNo">{{codeTrxOut}}</span>
                    </div>

                    <div class="d-flex row mt-3">
                        <div class="table-responsive col-md-12">
                            <p-table [value]="listDetTrxOut">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">Asset Code</th>
                                        <th scope="col">Display Asset</th>
                                        <th scope="col">Asset Name</th>
                                        <th scope="col">Asset Company</th>
                                        <th scope="col">Due Date</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-t let-i="rowIndex">
                                    <tr>
                                        <td>{{i+1}}</td>
                                        <td>{{t.asset?.code}}</td>
                                        <td><img class= "asset-img" src="data:image/png;base64,{{t.asset.display?.dataFile}}" *ngIf = "isDisplayAvail(t.asset.display)"/></td>
                                        <td>{{t.asset?.item?.description}}</td>
                                        <td>{{t.asset?.company?.companyName}}</td>
                                        <td>{{t.dueDate}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                    <div class="justify-content-start row mt-5">
                        <div class="order__back__btn justify-content-start row mt-3">
                            <div class="col-md-11">
                                <button pButton class="p-button-raised p-button-rounded" type="submit" id="btnBack"
                                    label="Back" icon="pi pi-angle-left" (click)="clickBack()"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>IAM System</span></strong>. All Rights Reserved
    </div>
</footer><!-- End Footer -->