#btnFind{
    background-color: #4b5e80;
    border:  #4b5e80;
    color: #F7F7F7;
    font-size: 12px;
    padding: 6px;
    text-align: center;
    width: 60px;
    margin-top: 35px;
    margin-bottom: 10px;
}

#btnSubmit {
    background-color: #96bdff;
    border:  #96bdff;
    color: #F7F7F7;
    font-size: 16px;
    padding: 8px;
    text-align: center;
    margin-top: 35px;
}

#btnAdd{
    background-color: #4b5e80;
    border:  #4b5e80;
    padding: 2px;
    width: 65px;
    text-align: center;
}

.btn__add{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.iconDelete{
    cursor: pointer;
    margin-left: 20px;
    color: #FF5454;
}

.separator-line {
    height: 1px;
    background-color: #96bdff;
    margin-top: 5px;
}