<app-navbar></app-navbar>

<div id="main" class="main">
    <div class="flex-shrink-0 py-2 my-2">
        <div class="container">
            <div class="transaction--title">
                <h1 class="h3 mb-3 fw-normal">Transaction Check Out History</h1>
            </div>

            <div class="order__table d-flex row mt-3">
                <div class="table-responsive col-md-12">
                    <p-table #dt [value]="listTransOut" [rows]="5" [paginator]="true" [globalFilterFields]="['code', 'employee.fullName',
                     'location.locationName', 'generalItem.item.description']">
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text"
                                        (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                        placeholder="Search..." />
                                </span>
                            </div>
                        </ng-template>
                        
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center" scope="col">No.</th>
                                <th class="text-center" scope="col">Transaction Check Out No.</th>
                                <th class="text-center" scope="col">Receiver</th>
                                <th class="text-center" scope="col">Location</th>
                                <th class="text-center" scope="col">General Item</th>
                                <th class="text-center" scope="col">Check Out Date</th>
                                <th class="text-center" scope="col">Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-t let-i="rowIndex">
                            <tr>
                                <td class="text-center">{{i+1}}.</td>
                                <td class="text-center">{{t.code}}</td>
                                <td class="text-center">{{t.employee?.fullName}}</td>
                                <td class="text-center">{{t.location?.locationName}}</td>
                                <td class="text-center">{{t.generalItem?.item?.description}}</td>
                                <td class="text-center">{{t.checkOutDate}}</td>
                                <td class="text-center">
                                    <i class='bx bx-file-find toggle-sidebar-btn' id="btnView"
                                        (click)="clickView(t.id)"></i>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>

        <div class="create__btn mt-3">
            <a class="btnDownload py-2" href="http://localhost:8080/transactions-out/pdf" target="_blank"
                title="Download File">
                <i class='bx bx-download toggle-sidebar-btn ibtn'></i>
            </a>
            <button class="btnSend py-2" (click)="sendPdf()" title="Send File to Email">
                <i class='bx bx-mail-send toggle-sidebar-btn'></i>
            </button>
        </div>
    </div>
</div>

<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>IAM System</span></strong>. All Rights Reserved
    </div>
</footer><!-- End Footer -->