#btnSubmit{
    background-color: #96bdff;
    border: #96bdff;
}

#btnFind{
    background-color: #4b5e80;
    border:  #4b5e80;
    color: #F7F7F7;
    font-size: 12px;
    padding: 6px;
    text-align: center;
    width: 60px;
    margin-top: 35px;
    margin-bottom: 10px;
}

#btnBack {
    padding: 5px 10px;
    border: #7897CC;;
    background-color: #7897CC;
    color: #f7f7f7;
}