<app-navbar></app-navbar>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Insert User</h1>
    </div>

    {{dataInsert | json}}

    <div class="card">
        <div class="card-body">
            <!-- Browser Default Validation -->
            <div class="row g-3 mt-3">
                <div class="col-md-4" *ngIf="!isDisabled">
                    <label for="nip" class="form-label">NIP</label>
                    <input  type="text" class="form-control" id="nip" [(ngModel)] = "nip">
                </div>
                <div class="col-md-1" *ngIf="!isDisabled">
                    <button pButton class="p-button-raised p-button-rounded" type="button" id="btnFind" label="Find"
                    (click)="clickFind()">
                </button>
                </div>

                <div class="mb-3">
                    <label class="col-sm-12 col-form-label">Select Role <code>*</code></label>
                    <div class="col-sm-12">
                        <select class="form-select" (change)="changeRole()" [(ngModel)]="dataInsert.role.id">
                            <option selected>
                                ---------------------------------------------------------------------Select
                                Role---------------------------------------------------------------------
                            </option>
                            <option *ngFor="let i of listRole?.data"
                            [value]="i?.id">{{i?.roleName}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12">
                    <label for="email" class="form-label">Email <code>*</code></label>
                    <input disabled [value]="employee.email" [(ngModel)]="dataInsert.email" type="text" class="form-control" id="email">
                </div>

                <div class="form-check col-md-3" *ngIf= "isDisabled">
                    <input [(ngModel)]="dataInsert.isActive" class="form-check-input" type="checkbox" id="isActive">
                    <label class="form-check-label" for="isActive">Is Active?</label>
                </div>

                <div class="p-fluid pt-2 btn__add">
                    <button pButton class="p-button-raised p-button-rounded" type="button" id="btnSubmit" label="SUBMIT"
                        (click)="clickSubmit()">
                    </button>
                </div>
            </div>
            <!-- End Browser Default Validation -->
        </div>
    </div>
</main>

<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>IAM System</span></strong>. All Rights Reserved
    </div>
</footer><!-- End Footer -->