<app-navbar></app-navbar>
<main id="main" class="main">
    <div class="flex-shrink-0">
        <div class="container">
            <div class="content">
                <div class=" text-center mt-5">
                    <h1>List Item Type</h1>
                </div>

                <div class="condition-assets__table d-flex row mt-3">
                    <div class="table-responsive col-md-12 col-sm-12 mx-auto">
                        <div class="create__btn">
                            <button pButton class="p-button-raised py-1 btnCreate" type="submit" id="btnCreate"
                            icon="bx bx-plus toggle-sidebar-btn" (click)="clickCreate()"
                            title="Create New Item Type"></button>
                        </div>
                        <p-table #dt [value]="listItemTypes" [rows]="5" [paginator]="true" [globalFilterFields]="['code', 'itemTypeName']">
                            <ng-template pTemplate="caption">
                                <div class="p-d-flex p-ai-center p-jc-between">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text"
                                            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                            placeholder="Search..." />
                                    </span>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="text-center" scope="col">No.</th>
                                    <th class="text-center" scope="col">Code</th>
                                    <th class="text-center" scope="col">Types Name</th>
                                    <th class="text-center" scope="col">Is Active</th>
                                    <th class="text-center" scope="col">Actions</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" id="tcolumn" let-t let-rowIndex="rowIndex">
                                <tr>
                                    <td class="text-center">{{rowIndex + 1}}.</td>
                                    <td class="text-center">{{t.code}}</td>
                                    <td class="text-center">{{t.itemTypeName}}</td>

                                    <td class="text-center">
                                        <input disabled [checked]="t.isActive" class="cbox" type="checkbox"
                                            id="isActive">
                                    </td>
                                    <td class="text-center">
                                        <div class="btn-group">

                                            <i class="bx bxs-pencil toggle-sidebar-btn" id="btnUpdate" label="Update"
                                                (click)="clickUpdate(t.id)"></i>

                                            <i class="bx bx-trash toggle-sidebar-btn" id="btnDelete"
                                                (click)="confirm(t.id)"></i>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>

                        <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"
                            rejectButtonStyleClass="p-button-text"></p-confirmDialog>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>IAM System</span></strong>. All Rights Reserved
    </div>
</footer><!-- End Footer -->