<app-navbar></app-navbar>

<main id="main" class="main">
    <div class="flex-shrink-0">
        <div class="container">
            <div class="content">
                <div class="track--title text-center mt-5">
                    <h1>List Track Activity</h1>
                </div>

                <div class="track__table d-flex row mt-5">
                    <div class="table-responsive col-md-12 col-sm-12 mx-auto">
                        <p-table #dt [value]="listTrack" [rows]="10" [paginator]="true"
                            [globalFilterFields]="['code', 'nameAsset', 'statusAsset', 'activity', 'codeTransaction', 'dateActivity']">
                            <ng-template pTemplate="caption">
                                <div class="p-d-flex p-ai-center p-jc-between">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text"
                                            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                            placeholder="Search..." />
                                    </span>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="text-center" scope="col">No.</th>
                                    <th class="text-center" scope="col">Code</th>
                                    <th class="text-center" scope="col">Asset Name</th>
                                    <th class="text-center" scope="col">Status Asset</th>
                                    <th class="text-center" scope="col">Activity</th>
                                    <th class="text-center" scope="col">Transaction Code</th>
                                    <th class="text-center" scope="col">Date Activity</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" id="tcolumn" let-t let-i="rowIndex">
                                <tr>
                                    <td class="text-center">{{i+1}}.</td>
                                    <td class="text-center">{{t.code}}</td>
                                    <td class="text-center">{{t.nameAsset}}</td>
                                    <td class="text-center">{{t.statusAsset}}</td>
                                    <td class="text-center">{{t.activity}}</td>
                                    <td class="text-center">{{t.codeTransaction}}</td>
                                    <td class="text-center">{{t.dateActivity}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>

        <div class="create__btn mt-3">
            <a class="btnDownload py-2" href="http://localhost:8080/track-activities/pdf" target="_blank"
                title="Download File">
                <i class='bx bx-download toggle-sidebar-btn ibtn'></i>
            </a>
            <button class="btnSend py-2" (click)="sendPdf()" title="Send File to Email">
                <i class='bx bx-mail-send toggle-sidebar-btn'></i>
            </button>
        </div>
    </div>
</main>

<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>IAM System</span></strong>. All Rights Reserved
    </div>
</footer><!-- End Footer -->