<app-navbar></app-navbar>

<main id="main" class="main">
    <div>
        <div class="flex-shrink-0 py-2 my-2">
            <div class="container">
                <div class="content">
                    <div class="text-center mt-5">
                        <h1 class="mb-3 fw-normal">Role Permission</h1>
                    </div>

                    <div class="d-flex justify-content-start align-items-center mt-5">
                        <label class="pe-3 labelTrans">Role Code </label>
                        <span class="input-group-text pe-5" id="transNo">{{roleCode}}</span>
                    </div>

                    <div class="d-flex row mt-3">
                        <div class="table-responsive col-md-12">

                            <p-table #dt [value]="listRolePerm" [rows]="5" [paginator]="true"
                                [globalFilterFields]="['permission.permissionName']">
                                <ng-template pTemplate="caption">
                                    <div class="p-d-flex p-ai-center p-jc-between">
                                        <span class="p-input-icon-left">
                                            <i class="pi pi-search"></i>
                                            <input pInputText type="text"
                                                (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                                placeholder="Search..." />
                                        </span>
                                    </div>
                                </ng-template>

                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="text-center" scope="col">No.</th>
                                        <th class="text-center" scope="col">Permission Name</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-t let-i="rowIndex">
                                    <tr>
                                        <td class="text-center">{{i+1}}.</td>
                                        <td class="text-center">{{t.permission?.permissionName}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                    <div class="justify-content-start row mt-5">
                        <div class="order__back__btn justify-content-start row mt-3">
                            <div class="col-md-11">
                                <button pButton class="p-button-raised p-button-rounded" type="submit" id="btnBack"
                                    label="Back" icon="pi pi-angle-left" (click)="clickBack()"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>IAM System</span></strong>. All Rights Reserved
    </div>
</footer><!-- End Footer -->