<app-navbar></app-navbar>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Insert Role</h1>
    </div>

    <div class="card">
        <div class="card-body">
            <!-- Browser Default Validation -->
            <div class="row g-3 mt-3">
                <div class="col-md-6">
                    <label for="roleCode" class="form-label">Role Code <code>*</code></label>
                    <input [disabled]="isDisabled" [value]="role.code" [(ngModel)] = "dataInsert.code" type="text" class="form-control" id="roleCode">
                </div>
                <div class="col-md-6">
                    <label for="roleName" class="form-label">Role name <code>*</code></label>
                    <input [value]="role.roleName" [(ngModel)] = "dataInsert.roleName" type="text" class="form-control" id="roleName">
                </div>

                <div class="row mt-3" *ngIf="!isDisabled">
                    <label for="listPermission" class="form-label mb-2">List Permission <code>*</code></label>
                    <div class="form-check col-md-3 mb-3" *ngFor="let d of listPermission?.data; let i = index">
                        <input class="form-check-input" type="checkbox" id="permName" name={{d.permissionName}} [(ngModel)] = "d.isActive">
                        <label class="form-check-label" for="permName">{{d.permissionName}}</label>
                    </div>
                </div>

                <div class="form-check col-md-3" *ngIf= "isDisabled">
                    <input [(ngModel)]="dataInsert.isActive" class="form-check-input" type="checkbox" id="isActive">
                    <label class="form-check-label" for="isActive">Active <code>*</code></label>
                </div>

                <div class="p-fluid pt-2 btn__add">
                    <button pButton class="p-button-raised p-button-rounded" type="button" id="btnSubmit" label="SUBMIT"
                    (click)="clickSubmit()">
                </button>
                </div>
            </div>
            <!-- End Browser Default Validation -->
        </div>
    </div>

    <div class="justify-content-start row mt-5">
        <div class="order__back__btn justify-content-start row mt-3">
            <div class="col-md-11">
                <button pButton class="p-button-raised p-button-rounded" type="submit" id="btnBack"
                    label="Back" icon="pi pi-angle-left" (click)="clickBack()"></button>
            </div>
        </div>
    </div>
</main>

<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>IAM System</span></strong>. All Rights Reserved
    </div>
</footer><!-- End Footer -->