<app-navbar></app-navbar>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Insert Role</h1>
    </div>

    <div class="card">
        <div class="card-body">
            <!-- Browser Default Validation -->
            <form class="row g-3 mt-3">
                <div class="col-md-6">
                    <label for="roleCode" class="form-label">Role Code <code>*</code></label>
                    <input type="text" class="form-control" id="roleCode">
                </div>
                <div class="col-md-6">
                    <label for="roleName" class="form-label">Role name <code>*</code></label>
                    <input type="text" class="form-control" id="roleName">
                </div>

                <div class="col-md-12">
                    <label for="listPermission" class="form-label">List Permission <code>*</code></label>
                </div>

                <div class="d-flex justify-content-center mt-2">
                    <div class="form-check col-md-3">
                        <input class="form-check-input" type="checkbox" id="createUser">
                        <label class="form-check-label" for="createUser">Create User</label>
                    </div>

                    <div class="form-check col-md-3">
                        <input class="form-check-input" type="checkbox" id="createUser">
                        <label class="form-check-label" for="createUser">Create Role</label>
                    </div>

                    <div class="form-check col-md-3">
                        <input class="form-check-input" type="checkbox" id="createUser">
                        <label class="form-check-label" for="createUser">Create Asset</label>
                    </div>

                    <div class="form-check col-md-3">
                        <input class="form-check-input" type="checkbox" id="createUser">
                        <label class="form-check-label" for="createUser">Create Item</label>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="form-check col-md-3">
                        <input class="form-check-input" type="checkbox" id="createUser">
                        <label class="form-check-label" for="createUser">Update User</label>
                    </div>

                    <div class="form-check col-md-3">
                        <input class="form-check-input" type="checkbox" id="createUser">
                        <label class="form-check-label" for="createUser">Update Role</label>
                    </div>

                    <div class="form-check col-md-3">
                        <input class="form-check-input" type="checkbox" id="createUser">
                        <label class="form-check-label" for="createUser">Update Asset</label>
                    </div>

                    <div class="form-check col-md-3">
                        <input class="form-check-input" type="checkbox" id="createUser">
                        <label class="form-check-label" for="createUser">Update Item</label>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="form-check col-md-3">
                        <input class="form-check-input" type="checkbox" id="createUser">
                        <label class="form-check-label" for="createUser">Delete User</label>
                    </div>

                    <div class="form-check col-md-3">
                        <input class="form-check-input" type="checkbox" id="createUser">
                        <label class="form-check-label" for="createUser">Delete Role</label>
                    </div>

                    <div class="form-check col-md-3">
                        <input class="form-check-input" type="checkbox" id="createUser">
                        <label class="form-check-label" for="createUser">Delete Asset</label>
                    </div>

                    <div class="form-check col-md-3">
                        <input class="form-check-input" type="checkbox" id="createUser">
                        <label class="form-check-label" for="createUser">Delete Item</label>
                    </div>
                </div>

                <div class="p-fluid pt-2 btn__add">
                    <button pButton class="p-button-raised p-button-rounded" type="button" id="btnAdd" label="Add"
                        (click)="clickAdd()">
                        <i class="bx bx-plus toggle-sidebar-btn ibtn" (click)="clickAdd()"></i>
                    </button>
                </div>

                <div class="col-md-12">
                    <label for="listPermission" class="form-label">List Permission</label>
                    <select type="text" class="form-select" id="listPermission" required></select>
                </div>
            </form>
            <!-- End Browser Default Validation -->
        </div>
    </div>

    <div class="pagetitle">
        <h1>Detail Role</h1>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="roles__table d-flex row mt-3">
                <div class="table-responsive col-md-12 col-sm-12 mx-auto">

                    <p-table [value]="listRole">
                        <ng-template pTemplate="header">
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Code</th>
                                <th scope="col">Permission Name</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" id="tcolumn" let-t>
                            <tr>
                                <td>{{t.number}}</td>
                                <td>{{t.codeRole}}</td>
                                <td>{{t.nameRole}}</td>
                                <td>
                                    <div class="btn-group">
                                        <i class='bx bx-trash toggle-sidebar-btn' id="btnDelete"
                                            (click)="clickDelete()"></i>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="p-fluid pt-5">
                <button pButton class="p-button-raised p-button-rounded" type="button" id="btnSubmit" label="SUBMIT"
                    (click)="clickSubmit()"></button>
            </div>
        </div>
    </div>
</main>

<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>IAM System</span></strong>. All Rights Reserved
    </div>
</footer><!-- End Footer -->