.asset-img{
    width: 100%;
}
#btnSave {
    background-color: #51BBF6;
    color: #f7f7f7;
    font-weight: bold;
}

#btnBack {
    padding: 5px 10px;
    border: #7897CC;;
    background-color: #7897CC;
    color: #f7f7f7;
}