<app-navbar></app-navbar>

<main id="main" class="main">
    <div class="flex-shrink-0">
        <div class="container">
            <div class="content">
                <div class="employees--title text-center mt-5">
                    <h1>List Employee</h1>
                </div>

                <div class="employees__create__btn">
                    <button class="btnCreate py-2" (click)="clickCreate()">
                        <i class='bx bx-plus toggle-sidebar-btn' (click)="clickCreate()"></i>
                        Create
                    </button>

                </div>

                <div class="employees__table d-flex row mt-3">
                    <div class="table-responsive col-md-12 col-sm-12 mx-auto">

                        <p-table [value]="listEmployees">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Company</th>
                                    <th scope="col">NIP</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">Department</th>
                                    <th scope="col">Is Active</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" id="tcolumn" let-t>
                                <tr>
                                    <td>{{t.number}}</td>
                                    <td>{{t.company}}</td>
                                    <td>{{t.nip}}</td>
                                    <td>{{t.fullName}}</td>
                                    <td>{{t.email}}</td>
                                    <td>{{t.phoneNo}}</td>
                                    <td>{{t.department}}</td>
                                    <td>
                                        <input class="cbox" type="checkbox" id="isActive">
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <i class="bx bxs-pencil toggle-sidebar-btn" id="btnUpdate" label="Update"
                                                (click)="clickUpdate()"></i>

                                            <i class="bx bx-trash toggle-sidebar-btn" id="btnDelete"
                                                (click)="clickDelete()"></i>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>IAM System</span></strong>. All Rights Reserved
    </div>
</footer><!-- End Footer -->