#btnFind{
    background-color: #4b5e80;
    border:  #4b5e80;
    color: #F7F7F7;
    font-size: 12px;
    padding: 6px 8px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.profile .profile-card img {
   width: 200px;
   height: 120px;
}

.separator-line {
    height: 1px;
    background-color: #96bdff;
    margin-top: 5px;
    margin-bottom: 25px;
}

#btnChange {
    background-color: #96bdff;
    font-weight: bold;
    color: #f7f7f7;
}

#btnSave {
    background-color: #96bdff;
    font-weight: bold;
    color: #f7f7f7;
}