<app-navbar></app-navbar>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Profile</h1>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <img src="../../assets/pictures/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <h2 class="mt-4">Jhonanendra Nugraha</h2>
                        <h3>Super Admin</h3>
                    </div>

                    <div class="row mb-3">
                        <label for="nip" class="col-md-4 col-lg-3 col-form-label">NIP</label>
                        <div class="col-md-8 col-lg-9">
                            <input name="nip" type="text" class="form-control" id="nip"
                                value="198609262015051001">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                        <div class="col-md-8 col-lg-9">
                            <input name="phone" type="text" class="form-control" id="Phone"
                                value="089788646432">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="department"
                            class="col-md-4 col-lg-3 col-form-label">Department</label>
                        <div class="col-md-8 col-lg-9">
                            <input name="job" type="text" class="form-control" id="department"
                                value="Web Designer">
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-create">Create Profile</button>
                            </li>
                            <li class="nav-item active" *ngIf = "false">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit
                                    Profile</button>
                            </li>


                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab"
                                    data-bs-target="#profile-change-password">Change
                                    Password</button>
                            </li>

                        </ul>
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active profile-edit" id="profile-create">
                                <div>
                                    <div class="row mb-3">
                                        <label for="nip" class="col-md-4 col-lg-3 col-form-label">NIP</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="nip" type="text" class="form-control" id="nip"
                                            [value]="profile.employee.nip">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="fullName" type="text" class="form-control" id="fullName"
                                                [value]="profile.employee.fullName">
                                        </div>
                                    </div>

                                   

                                    <div class="row mb-3">
                                        <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="phone" type="text" class="form-control" id="Phone"
                                            [value]="profile.employee.phoneNo">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="department"
                                            class="col-md-4 col-lg-3 col-form-label">Department</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="job" type="text" class="form-control" id="department"
                                            [value]="profile.employee.department">
                                        </div>
                                    </div>

                                    <div class="form-check col-md-3" *ngIf= "isDisabled">
                                        <input [(ngModel)]="dataInsert.isActive" class="form-check-input" type="checkbox" id="isActive">
                                        <label class="form-check-label" for="isActive">Is Active?</label>
                                    </div>

                                    <div class="text-center mt-5">
                                        <button type="submit" class="btn" id="btnSave" (click)="clickSave()">Save
                                            Changes</button>
                                    </div>
                                </div><!-- End Profile Edit Form -->

                            </div>

                            <div class="tab-pane fade show active profile-edit" id="profile-edit">
                                <div>
                                    <div class="row mb-3">
                                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile
                                            Image</label>
                                        <div class="col-md-8 col-lg-9" id="profilePict">
                                            <img src="data:image/png;base64,{{profile.profilePict?.dataFile}}" alt="Profile">
                                            <div class="pt-2">
                                                <a href="#" class="btn btn-primary btn-sm"
                                                    title="Upload new profile image"><i class="bi bi-upload"></i></a>
                                                <a href="#" class="btn btn-danger btn-sm"
                                                    title="Remove my profile image"><i class="bi bi-trash"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    

                                    <div class="text-center mt-5">
                                        <button type="submit" class="btn" id="btnSave" (click)="clickSave()">Save
                                            Changes</button>
                                    </div>
                                </div><!-- End Profile Edit Form -->

                            </div>

                            <div class="tab-pane fade profile-change-password pt-3" id="profile-change-password">

                                <!-- Change Password Form -->
                                <div>
                                    <div class="row mb-3">
                                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New
                                            Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="newpassword" type="password" class="form-control"
                                                id="newPassword">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New
                                            Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="renewpassword" type="password" class="form-control"
                                                id="renewPassword">
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn" id="btnChange"
                                            (click)="clickChangePass()">Change Password</button>
                                    </div>
                                </div><!-- End Change Password Form -->

                            </div>

                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->